<h4>Pessoa Jurídica ou Física?</h4>

<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="tipoPessoaRadio1" name="tipoPessoa" class="custom-control-input" value="1"
    onclick="etapa3tipoPessoa(this)" checked="checked">
  <label class="custom-control-label" for="tipoPessoaRadio1">Pessoa Jurídica</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="tipoPessoaRadio2" name="tipoPessoa" class="custom-control-input" value="2"
    onclick="etapa3tipoPessoa(this)">
  <label class="custom-control-label" for="tipoPessoaRadio2">Pessoa Física</label>
</div>

<div class="form-row">
  <div class="col">
    <label for="inputNome" class="m-0 mt-2">Nome: </label>
    <input type="text" id="inputNome" name="firstName" class="form-control" placeholder="Nome" required>
  </div>
</div>

<div id="pessoaFisica" class="d-none">
  <div class="form-row">
    <div class="col">
      <label for="inputCPF" class="m-0 mt-2">CPF: </label>
      <input type="text" name="CPF" id="inputCPF" class="form-control" maxlength="14" placeholder="CPF">
    </div>
  </div>
</div>

<div id="pessoaJuridica" class="">
  <div class="form-row">
    <div class="col">
      <label for="inputCNPJ" class="m-0 mt-2">CNPJ: </label>
      <input type="text" name="CNPJ" id="inputCNPJ" class="form-control" maxlength="18" placeholder="CNPJ">
    </div>
    <div class="col">
      <label for="inputDataFundacao" class="m-0 mt-2">Data de Fundação: </label>
      <input type="date" name="dataFundacao" id="inputDataFundacao" class="form-control" value="2021-10-08">
    </div>
  </div>
</div>

<span class="d-flex justify-content-end mt-2 mb-1">Etapa 3 de 3</span>
<div class="row justify-content-end">
  <button type="button" class="btn btn-secondary mr-1" onclick="trocaTab('etapa2')">
    Voltar
  </button>
  <button type="submit" class="btn btn-primary ml-1">
    Cadastrar
  </button>
</div>