<div class="form-group">
  <label for="inputUsername">Digite seu Username: </label>
  <input type="text" id="inputUsername" name="usuario" class="form-control" placeholder="Username" required>
</div>

<div class="form-group">
  <label for="inputEmail">Digite seu Email: </label>
  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <label for="inputFirstName">Digite o primeiro Nome: </label>
    <input type="text" id="inputFirstName" name="firstName" class="form-control" placeholder="Primeiro Nome" required>
  </div>
  <div class="form-group col-md-6">
    <label for="inputLastName">Digite o Sobrenome: </label>
    <input type="text" id="inputLastName" name="lastName" class="form-control" placeholder="Sobrenome" required>
  </div>
</div>

<div class="form-group">
  <label for="inputSenha">Digite sua Senha: </label>
  <input type="password" id="inputSenha" name="senha" class="form-control" placeholder="Senha" required>
</div>

<div class="form-group">
  <label for="inputConfirmeSenha">Confirme sua Senha: </label>
  <input type="password" id="inputConfirmeSenha" name="confirmeSenha" class="form-control" placeholder="Confirme sua Senha" required>
</div>

<p class="text-center">
	Já possui Cadastro? <a href="{% url 'login' %}">Clique Aqui!</a>
</p>