<form action="">
  <div class="card">
    <div class="card-header" id="headingFiltros">
      <div class="form-row">
        <div class="input-group col">
          <input type="search" id="inputSearch" class="form-control" placeholder="{{pesquisa.Placeholder}}" />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
          </div>
        </div>

        <div class="col">
          <div class="form-row">
            <button type="button" class="btn btn-outline-primary ml-auto" data-toggle="collapse" data-target="#Filtros"
              aria-expanded="true" aria-controls="Filtros">
              Filtros
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionFiltros">
      <div id="Filtros" class="collapse" aria-labelledby="headingFiltros" data-parent="#accordionFiltros">
        {% include pesquisa.FiltrosTemplate %}
      </div>
    </div>
  </div>
</form>