<label for="inputUsername" class="col text-left">Username: </label>
<input type="text" id="inputUsername" class="form-control" name='usuario' placeholder="Digite seu Username" required>

<label for="inputSenha" class="col text-left mt-4">Senha: </label>
<input type="password" name='senha' id="inputSenha" class="form-control" placeholder="Digite sua Senha" required>

<p class="text-right">
  <a href="">Esqueceu a senha?</a>
</p>
<p class="mt-2 text-center">
  Ainda não possui Cadastro? <a href="{% url 'cadastro' %}">Clique Aqui!</a>
</p>