<h4>Informações Gerais:</h4>

<label for="inputUsername" class="m-0">Usuário: </label>
<input type="text" id="inputUsername" name="usuario" class="form-control" placeholder="Usuário" required>

<label for="inputEmail" class="m-0 mt-3">Email: </label>
<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required>

<label for="inputSenha" class="m-0 mt-3">Senha: </label>
<input type="password" id="inputSenha" name="senha" class="form-control" placeholder="Senha" required>

<label for="inputConfirmeSenha" class="m-0 mt-3">Confirme sua Senha: </label>
<input type="password" id="inputConfirmeSenha" name="confirmeSenha" class="form-control" placeholder="Confirme sua Senha" required>

<span class="d-flex justify-content-end mt-2 mb-1">Etapa 1 de 3</span>
<div class="row justify-content-end">
  <div class="btn btn-primary" onclick="trocaTab('etapa2')">
    Próxima Etapa
  </div>
</div>