{% load static %}

<template id="loginFormTemplate">
  <swal-title>
    <h1><img src="{% static 'img/svg/log-in.svg' %}" alt="" width="34px" height="34px"><u>Login</u></h1>
  </swal-title>
  <swal-html>
    <form method="POST" action="/login/">
      {% csrf_token %}
      <label for="inputUsername" class="col text-left">Username: </label>
      <input type="text" id="inputUsername" class="form-control" name='usuario' placeholder="Digite seu Username" required>
      <label for="inputSenha" class="col text-left mt-4">Senha: </label>
      <input type="password" name='senha' id="inputSenha" class="form-control" placeholder="Digite sua Senha" required>
      <p class="text-right">
        <a href="">Esqueceu a senha?</a>
      </p>
      <button type="submit" class="btn btn-primary">
        Logar
      </button>
    </form>
    <p class="mt-2">
      Ainda não possui Cadastro? <a href="{% url 'cadastro' %}">Clique Aqui!</a>
    </p>
  </swal-html>
</template>