{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}Cavalo-Vapor Fretes | Atividade{% endblock %}
{% block tituloMenu %}
Atividade
{% endblock tituloMenu %}
{% block pageConteudo %}

<div class="row py-3 px-5">
	<aside class="col-md-3  py-3">
		<ul class="list-group ">
			<li class="list-group-item">
				<h5>
					Lucros
				</h5>
				<p>
					1.4 Btc
				</p>
			</li>

			<li class="list-group-item">
				<h5>
					Distância Percorrida
				</h5>
				<p class="">
					800 km
				</p>
			</li>

			<li class="list-group-item">
				<h5 class="">
					Carga transportada
				</h5>
				<p>
					12571,86 toneladas
				</p>
			</li>
			<li class="list-group-item">
				<h5 class="">
					Entregas realizadas
				</h5>
				<p>
					69 entregas
				</p>
			</li>
		</ul>
	</aside>

	<main class="col-md">
		<section class="row ">
			<div class="row py-3 mx-auto atividade-grid">

				<div class="col px-0">
					<div class="card">
						<div class="card-header">
							<span class="col d-flex align-items-center">
								Filial 1
							</span>
						</div>
						<div class="card-body">
							<div id="piechart" style="width: 200px;"></div>
						</div>
					</div>
				</div>
				<div class="col px-0">
					<div class="card">
						<div class="card-header">
							<span class="col d-flex align-items-center">
								Filial 1
							</span>
						</div>
						<div class="card-body">
							<div id="piechart5" style="width: 200px;"></div>
						</div>
					</div>
				</div>

				<div class="col px-0">
					<div class="card">
						<div class="card-header">
							<span class="col d-flex align-items-center">
								Filial 1
							</span>
						</div>
						<div class="card-body">
							<div id="piechart2" style="width: 200px;"></div>
						</div>
					</div>
				</div>


				<div class="col px-0">
					<div class="card">
						<div class="card-header">
							<span class="col d-flex align-items-center">
								Filial 1
							</span>
						</div>
						<div class="card-body">
							<div id="piechart3" style="width: 200px;"></div>
						</div>
					</div>
				</div>

				<div class="col px-0">
					<div class="card">
						<div class="card-header">
							<span class="col d-flex align-items-center">
								Filial 1
							</span>
						</div>
						<div class="card-body">
							<div id="piechart6" style="width: 200px;"></div>
						</div>
					</div>
				</div>

				<div class="col px-0">
					<div class="card">
						<div class="card-header">
							<span class="col d-flex align-items-center">
								Filial 1
							</span>
						</div>
						<div class="card-body">
							<div id="piechart4" style="width: 200px;"></div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</main>

</div>
{% endblock %}

{% block pageScript %}
<script type="text/javascript">
	window.onload = pageActive("#atividade");
</script>
{% endblock %}