{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}Cavalo-Vapor Fretes | Caminhões{% endblock %}

{% block pageConteudo %}

{% include "templates-form/formPesquisa.html" with pesquisa=forms.formPesquisaCaminhao %}

<nav class="m-2">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active col p-2 pl-3 d-flex justify-content-between" id="nav-cavaloMecanico-tab" data-toggle="tab" href="#nav-cavaloMecanico" role="tab" aria-controls="nav-cavaloMecanico" aria-selected="true">
      <span class="mt-2">
        Cavalo Mecânico
      </span>
      <div class="btn btn-primary m-0 rounded" onclick="cadastrarCaminhao();">
        Adicionar
      </div>
    </a>
    <a class="nav-item nav-link col p-2 pl-3 d-flex justify-content-between" id="nav-carreta-tab" data-toggle="tab" href="#nav-carreta" role="tab" aria-controls="nav-carreta" aria-selected="false">
      <span class="mt-2">
        Carretas
      </span>
      <div class="btn btn-primary m-0 rounded" onclick="cadastrarCarreta();">
        Adicionar
      </div>
    </a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-cavaloMecanico" role="tabpanel" aria-labelledby="nav-cavaloMecanico-tab">
    <div class="row p-2">
      {% if caminhoes %}
        {% include "templates-listar/listarCaminhao.html" %}
      {% endif %}
      <div class="alert alert-dark col mt-4 text-center d-none" role="alert" id="mensagemSemCaminhao">
        Você não possui nenhum caminhão cadastrado! <a class="alert-link" onclick="cadastrarCaminhao();">Clique aqui!</a>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-carreta" role="tabpanel" aria-labelledby="nav-carreta-tab">
    <div class="row p-2">
      {% if carretas %}
        {% include "templates-listar/listarCarreta.html" %}
      {% endif %}
      <div class="alert alert-dark col mt-4 text-center d-none" role="alert" id="mensagemSemCarreta">
        Você não possui nenhuma carreta cadastrada! <a class="alert-link" onclick="cadastrarCarreta();">Clique aqui!</a>
      </div>
    </div>
  </div>
</div>

{% include "templates-form/modalTemplate.html" with form=forms.formUpdateCaminhao %}
{% include "templates-form/modalTemplate.html" with form=forms.formCadastroCaminhao %}
{% include "templates-form/modalTemplate.html" with form=forms.formUpdateCarreta %}
{% include "templates-form/modalTemplate.html" with form=forms.formCadastroCarreta %}

{% endblock %}

{% block pageScript %}

  <script type="text/javascript">

    window.onload = verificaCaminhoesExistente();
    window.onload = verificaCarretasExistente();
    window.onload = pageActive("#caminhao");

    {% if caminhaoCriado == "Success" %}
      Swal.fire({
        icon: 'success',
        title: 'Seu caminhão foi criado com Sucesso!',
        showConfirmButton: false,
        timer: 3000
      })
    {% endif %}

    {% if carretaCriado == "Success" %}
      Swal.fire({
        icon: 'success',
        title: 'Sua carreta foi criada com Sucesso!',
        showConfirmButton: false,
        timer: 3000
      })
    {% endif %}

  </script>

{% endblock %}