{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}Cavalo-Vapor Fretes | Chats{% endblock %}

{% block pageConteudo %}

<div class="container-fluid">
  <form action="">
    <div class="card">
      <div class="card-header" id="headingFiltros">
        <div class="form-row">
          <h2 class="mr-2 text-center col-sm-12 col-md-2">
            <img src="{% static 'img/svg/chatbox.svg' %}" alt="" width="34px" height="34px"><u>Chats</u>
          </h2>
          <div class="input-group col p-1">
            <input type="search" id="inputSearch" class="form-control m-0" placeholder="Buscar Chat">
            <div class="input-group-append m-0">
              <button type="submit" class="btn btn-outline-success">Pesquisar</button>
            </div>
          </div>
          <div class="btn btn-outline-primary col-2 m-1" data-toggle="collapse" data-target="#Filtros" aria-expanded="true" aria-controls="Filtros">
            Filtros
          </div>
          <div class="btn btn-outline-info col-2 m-1" data-toggle="collapse" data-target="#Ordenar" aria-expanded="true" aria-controls="Ordenar">
            Ordenar
          </div>
        </div>
      </div>
      <div class="accordion" id="accordionFiltrosOrdenar">
        <div id="Filtros" class="collapse" aria-labelledby="headingFiltros" data-parent="#accordionFiltrosOrdenar">
          <div class="card-body">
            <h5 class="card-title">Filtros: </h5>
            <div class="form-row p-0 m-0">
              <select class="form-control col-md m-1">
                <option value="csc">Open/Closed</option>
              </select>
            </div>
          </div>
        </div>
        <div id="Ordenar" class="collapse" aria-labelledby="headingOrdenar" data-parent="#accordionFiltrosOrdenar">
          <div class="card-body">
            <h5 class="card-title">Ordenar: </h5>
            <div class="form-row p-0 m-0">
              <select class="form-control col-md m-1">
                <option value="csc">N° Participantes</option>
              </select>
              <select class="form-control col-md m-1">
                <option value="csc">Nome</option>
              </select>
              <select class="form-control col-md m-1">
                <option value="csc">Data de criação</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row col m-0 p-0 text-light">
    <div class="col-lg-4 bg-dark border border-danger">
      <h3>Chats que você participa</h3>
      <h3>Chats Global</h3>
    </div>
    <div class="col bg-secondary pt-2 d-flex align-items-center">
      <div class="alert alert-info col-12" role="alert">
        Selecione uma sala para ver a conversa
      </div>
    </div>
  </div>
</div>

{% endblock %}