{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}Cavalo-Vapor Fretes | Fretes{% endblock %}
{% block tituloMenu %}
Fretes
{% endblock tituloMenu %}
{% block pageConteudo %}

{% include "templates-form/formPesquisa.html" with pesquisa=forms.formPesquisaFretes %}

<nav class="nav nav-tabs border-0" id="nav-tab" role="tablist">
  <a class="nav-item nav-link col mx-3 py-3 align-items-center text-decoration-none active d-flex justify-content-between"
    id="nav-fretes-tab" data-toggle="tab" href="#nav-fretes" role="tab" aria-controls="nav-fretes" aria-selected="true">
    <span>
      Fretes
    </span>

    <button type="button" class="btn btn-primary m-0 rounded">
      Adicionar
    </button>
  </a>

  <a class="nav-item nav-link col mx-3 py-3 align-items-center text-decoration-none d-flex justify-content-between"
    id="nav-historico-tab" data-toggle="tab" href="#nav-historico" role="tab" aria-controls="nav-historico"
    aria-selected="false">
    <span>
      Histórico
    </span>
  </a>

  <a class="nav-item nav-link col mx-3 py-3 align-items-center text-decoration-none d-flex justify-content-between"
    id="nav-candidato-tab" data-toggle="tab" href="#nav-candidato" role="tab" aria-controls="nav-candidato"
    aria-selected="false">
    <span>
      Candidato
    </span>
  </a>
</nav>


<div class="tab-content m-2" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-fretes" role="tabpanel" aria-labelledby="nav-fretes-tab">
    <div class="accordion mt-2" id="accordionFretes">
      <div class="card text-white bg-light">
        <div class="card-header" id="headingfrete1">
          <div class="row">
            <span class="col-10">
              <h5 class="card-title w-100" data-toggle="collapse" data-target="#frete1" aria-expanded="true"
                aria-controls="frete1">
                Origem: Sigmacrom Araquari-SC, Destino: Posped São Paulo-SP
              </h5>
            </span>
            <span class="col-2">
              <div class="text-right">
                <a href="#" class="btn btn-primary">Candidatar</a>
              </div>
            </span>
          </div>
        </div>
        <div id="frete1" class="collapse" aria-labelledby="headingfrete1" data-parent="#accordionFretes">
          <div class="card-body">
            <p class="card-text">
              Local de carga e descarga: A, B <br>
              Valor: R$ 1 <br>
              Distancia: 1km <br>
              Cliente: Pessoa 1 <br>
              Candidatos: Fulano 1 <br>
              Prazo de descarga: Data 1 <br>
              Peso: 1 tonelada(s) <br>
              Volume: 1 metro(s) cúbicos <br>
              Prazo de carga: Data 1 <br>
              Noticação prévia em: 1 dia(s) <br>
              Tipo de carga: Tipo 1 <br>
              Carga: Carga 1
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-historico" role="tabpanel" aria-labelledby="nav-historico-tab">
    <div class="accordion mt-2" id="accordionFretes">
      <div class="card text-white bg-light">
        <div class="card-header" id="headingfrete1">
          <div class="row">
            <span class="col-10">
              <h5 class="card-title w-100" data-toggle="collapse" data-target="#frete1" aria-expanded="true"
                aria-controls="frete1">
                Origem: Sigmacrom Araquari-SC, Destino: Posped São Paulo-SP
              </h5>
            </span>
            <span class="col-2">
              <div class="text-right">
                <a href="#" class="btn btn-primary">Candidatar</a>
              </div>
            </span>
          </div>
        </div>
        <div id="frete1" class="collapse" aria-labelledby="headingfrete1" data-parent="#accordionFretes">
          <div class="card-body">
            <p class="card-text">
              Local de carga e descarga: A, B <br>
              Valor: R$ 1 <br>
              Distancia: 1km <br>
              Cliente: Pessoa 1 <br>
              Candidatos: Fulano 1 <br>
              Prazo de descarga: Data 1 <br>
              Peso: 1 tonelada(s) <br>
              Volume: 1 metro(s) cúbicos <br>
              Prazo de carga: Data 1 <br>
              Noticação prévia em: 1 dia(s) <br>
              Tipo de carga: Tipo 1 <br>
              Carga: Carga 1
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-candidato" role="tabpanel" aria-labelledby="nav-candidato-tab">
    <div class="accordion mt-2" id="accordionFretes">
      <div class="card bg-secondary">
        <div class="card-header" id="headingfrete1">
          <div class="row">
            <span class="col-10">
              <h5 class="card-title w-100" data-toggle="collapse" data-target="#frete1" aria-expanded="true"
                aria-controls="frete1">
                Origem: Sigmacrom Araquari-SC, Destino: Posped São Paulo-SP
              </h5>
            </span>
            <span class="col-2">
              <div class="text-right">
                <a href="#" class="btn btn-primary">Candidatar</a>
              </div>
            </span>
          </div>
        </div>
        <div id="frete1" class="collapse" aria-labelledby="headingfrete1" data-parent="#accordionFretes">
          <div class="card-body">
            <p class="card-text">
              Local de carga e descarga: A, B <br>
              Valor: R$ 1 <br>
              Distancia: 1km <br>
              Cliente: Pessoa 1 <br>
              Candidatos: Fulano 1 <br>
              Prazo de descarga: Data 1 <br>
              Peso: 1 tonelada(s) <br>
              Volume: 1 metro(s) cúbicos <br>
              Prazo de carga: Data 1 <br>
              Noticação prévia em: 1 dia(s) <br>
              Tipo de carga: Tipo 1 <br>
              Carga: Carga 1
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block pageScript %}
<script type="text/javascript">
  window.onload = pageActive("#frete");
</script>
{% endblock %}