{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}Cavalo-Vapor Fretes | Network{% endblock %}
{% block tituloMenu %}
Network
{% endblock tituloMenu %}
{% block pageConteudo %}

{% include "templates-form/formPesquisa.html" with pesquisa=forms.formPesquisaNetwork %}

<nav class="m-2">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active col p-2 pl-3 d-flex justify-content-between" id="nav-filial-tab"
      data-toggle="tab" href="#nav-filial" role="tab" aria-controls="nav-filial" aria-selected="true">
      <span class="mt-2">
        Filial
      </span>
      <div class="btn btn-primary m-0 rounded" onclick="cadastrarFilial();">
        Adicionar
      </div>
    </a>
    <a class="nav-item nav-link col p-2 pl-3 d-flex justify-content-between" id="nav-funcionarios-tab" data-toggle="tab"
      href="#nav-funcionarios" role="tab" aria-controls="nav-funcionarios" aria-selected="false">
      <span class="mt-2">
        Funcionários
      </span>
      <div class="btn btn-primary m-0 rounded" onclick="cadastrarFuncionario();">
        Adicionar
      </div>
    </a>
  </div>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-filial" role="tabpanel" aria-labelledby="nav-filial-tab">
      {% comment %} {% if caminhoes %} {% endcomment %}
      {% include "templates-listar/listarFilial.html" %}
      {% comment %} {% endif %} {% endcomment %}
    </div>
    <div class="tab-pane fade" id="nav-funcionarios" role="tabpanel" aria-labelledby="nav-funcionarios-tab">
      <div class="accordion mt-2" id="accordionFuncionarios">
        {% comment %} {% if caminhoes %} {% endcomment %}
        {% include "templates-listar/listarFuncionarios.html" %}
        {% comment %} {% endif %} {% endcomment %}
      </div>
    </div>
  </div>

  {% include "templates-form/modalTemplate.html" with form=forms.formUpdateFilial %}
  {% include "templates-form/modalTemplate.html" with form=forms.formCadastroFilial %}
  {% include "templates-form/modalTemplate.html" with form=forms.formUpdateFuncionario %}
  {% include "templates-form/modalTemplate.html" with form=forms.formCadastroFuncionario %}

  {% endblock %}

  {% block pageScript %}
  <script type="text/javascript">
    window.onload = pageActive("#network");
  </script>
  {% endblock %}