{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}Cavalo-Vapor Fretes | Perfis{% endblock %}

{% block pageConteudo %}

<form action="">
  <div class="card rounded-0">
    <div class="card-header" id="headingFiltros">
      <div class="form-row">
        <h2 class="mr-2 text-center col-sm-12 col-md-2">
          <img src="{% static 'img/svg/people.svg' %}" alt="" width="34px" height="34px"><u>Perfiis</u>
        </h2>
        <div class="input-group col p-1">
          <input type="search" id="inputSearch" class="form-control m-0" placeholder="Buscar Perfil por Nome, CPF/CNPJ">
          <div class="input-group-append m-0">
            <button type="submit" class="btn btn-outline-success">Pesquisar</button>
          </div>
        </div>
        <div class="btn btn-outline-primary col-2 m-1" data-toggle="collapse" data-target="#Filtros" aria-expanded="true" aria-controls="Filtros">
          Filtros
        </div>
        <div class="btn btn-outline-info col-2 m-1" data-toggle="collapse" data-target="#Ordenar" aria-expanded="true" aria-controls="Ordenar">
          Ordenar
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionFiltrosOrdenar">
      <div id="Filtros" class="collapse" aria-labelledby="headingFiltros" data-parent="#accordionFiltrosOrdenar">
        <div class="card-body">
          <h5 class="card-title">Filtros: </h5>
          <div class="form-row p-0 m-0">
            <select class="form-control col-md m-1">
              <option value="csc">Estado</option>
            </select>
            <select class="form-control col-md m-1">
              <option value="csc">Cidade</option>
            </select>
            <select class="form-control col-md m-1">
              <option value="csc">Caminhoneiro/Empresa</option>
            </select>
            <select class="form-control col-md m-1">
              <option value="csc">Tipo de Carreta</option>
            </select>
          </div>
        </div>
      </div>
      <div id="Ordenar" class="collapse" aria-labelledby="headingOrdenar" data-parent="#accordionFiltrosOrdenar">
        <div class="card-body">
          <h5 class="card-title">Ordenar: </h5>
          <div class="form-row p-0 m-0">
            <select class="form-control col-md m-1">
              <option value="csc">Ratign</option>
            </select>
            <select class="form-control col-md m-1">
              <option value="csc">N° Funcionários</option>
            </select>
            <select class="form-control col-md m-1">
              <option value="csc">Ordem Alfabética</option>
            </select>
            <select class="form-control col-md m-1">
              <option value="csc">N° Filias</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card col m-2">
      <img class="card-img-top img-thumbnail" src="https://i.insider.com/61135525ad63f30019501966?width=700" alt="">
      <div class="card-body">
        <h5 class="card-title">TrioVirato</h5>
        <p class="card-text">
          Descrição: bla bla <br>
          Email: TriuVirato@gmail.com <br>
          Telefone: (47) 8422-8922 <br>
          Estado: Santa Catarina <br>
          Cidade: Araquari <br>
        </p>
        <a href="" class="btn btn-primary">Ver Mais</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}