{% extends 'base.html' %} {% load static %} {% block pageTitle %}Cavalo-Vapor
Fretes | Perfis{% endblock %}
{% block tituloMenu %}
Perfis
{% endblock tituloMenu %}

{% block pageConteudo %}

{% include "templates-form/formPesquisa.html" with pesquisa=forms.formPesquisaPerfis %}

<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card col m-2">
      <img class="card-img-top img-fluid" src="https://i.insider.com/61135525ad63f30019501966?width=700" alt="" />
      <div class="card-body">
        <h5 class="card-title">TrioVirato</h5>
        <p class="card-text">
          Descrição: bla bla <br />
          Email: TriuVirato@gmail.com <br />
          Telefone: (47) 8422-8922 <br />
          Estado: Santa Catarina <br />
          Cidade: Araquari <br />
        </p>
        <a href="" class="btn btn-primary">Ver Mais</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block pageScript %}
<script type="text/javascript">
  window.onload = pageActive("#perfis");
</script>
{% endblock %}