{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}Cavalo-Vapor Fretes | Usuário{% endblock %}

{% block pageConteudo %}

<div class="container-fluid">
	<div class="row justify-content-center mt-2">
    <h1 class="text-center"><img src="{% static 'img/svg/person.svg' %}" alt="" width="34px" height="34px"><u>{{user}}</u></h1>
  </div>
  <form action="">
    <div class="col-lg-4 col-md-6 offset-lg-4 offset-md-3">
      <img class="img-thumbnail" src="https://i.insider.com/61135525ad63f30019501966?width=700" alt="">
      <div class="form-group">
        <label for="inputLogo">Alterar Imagem: </label>
        <div class="input-group">
          <input type="file" id="inputLogo" class="form-control">
          {% include 'pencilEdit.html' %}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputDescricao">Descrição: </label>
      <div class="input-group">
        <textarea id="inputDescricao" class="form-control" cols="30" rows="5" readonly>{{sesssionDados.descricao}}</textarea>
        {% include 'pencilEdit.html' %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="inputNome">Nome: </label>
        <div class="input-group">
          <input type="text" id="inputNome" class="form-control" value="{{user.first_name}}" readonly>
          {% include 'pencilEdit.html' %}
        </div>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="inputSobrenome">Sobrenome: </label>
        <div class="input-group">
          <input type="text" id="inputSobrenome" class="form-control" value="{{user.last_name}}" readonly>
          {% include 'pencilEdit.html' %}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputSenha">Nova Senha: </label>
      <div class="input-group">
        <input type="password" id="inputSenha" class="form-control" readonly placeholder="Nova Senha">
        {% include 'pencilEdit.html' %}
      </div>
    </div>
    <div class="form-group d-none">
      <label for="inputConfirmeSenha">Confirme a Nova Senha: </label>
      <input type="password" id="inputConfirmeSenha" class="form-control" placeholder="Confirme a Nova Senha">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email 1: </label>
      <div class="input-group">
        <input type="email" id="inputEmail" class="form-control" value="{{user.email}}" readonly>
        {% include 'pencilEdit.html' %}
      </div>
    </div>
    {% comment %} <div class="form-group">
      <label for="inputTelefone">Telefone 1: </label>
      <div class="input-group">
        <input type="text" id="inputTelefone" class="form-control" readonly placeholder="(47) 99234-9283">
        {% include 'pencilEdit.html' %}
      </div>
    </div> {% endcomment %}
    <div class="row">
			<div class="form-group col-md-6 col-lg-4">
        <label for="inputEstado">Estado: </label>
        <div class="input-group">
          <select id="inputEstado" name="estado" class="form-control js-select-city" disabled>
						{% for item in estados %}
						<option value="{{item.uf}}">{{item}}</option>
						{% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label for="inputCidade">Cidade: </label>
        <div class="input-group">
          <select id="inputCidade" name="municipio" class="form-control" disabled></select>
        </div>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label for="inputBairro">Bairro: </label>
        <div class="input-group">
          <input type="text" id="inputBairro" name="bairro" class="form-control" placeholder="Bairro" readonly>
          {% include 'pencilEdit.html' %}
        </div>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label for="inputCep">Cep: </label>
        <div class="input-group">
          <input type="text" id="inputCep" name="cep" class="form-control" placeholder="Cep" readonly>
          {% include 'pencilEdit.html' %}
        </div>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label for="inputRua">Rua: </label>
        <div class="input-group">
          <input type="text" id="inputRua" name="rua" class="form-control" placeholder="Rua" readonly>
          {% include 'pencilEdit.html' %}
        </div>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label for="inputNumero">Número: </label>
        <div class="input-group">
          <input type="number" id="inputNumero" name="numero" class="form-control" placeholder="Número" readonly>
          {% include 'pencilEdit.html' %}
        </div>
      </div>
		</div>
    <div class="row p-2">
      <div class="form-group col-lg-4 col-md-6 p-1">
        <label for="inputDataNascimento">Data de Nascimento/Fundação: </label>
        <input type="date" id="inputDataNascimento" class="form-control" disabled="disabled">
      </div>
      <div class="form-group col-lg-4 col-md-6 p-1">
        <label for="inputGenero">Genêro: </label>
        <div class="input-group">
          <select id="inputGenero" class="form-control" disabled="disabled">
            <option value="">Masculino</option>
            <option value="">Feminino</option>
          </select>
        </div>
      </div>
      <div class="form-group col-lg-4 col-md-6 p-1">
        <label for="inputModoPreferencial">Modo Preferencial: </label>
        <div class="input-group">
          <input type="number" id="inputModoPreferencial" class="form-control" min="0" max="1" readonly>
          {% include 'pencilEdit.html' %}
        </div>
      </div>
    </div>
    <div class="row justify-content-end p-4 m-2">
      <button type="reset" class="btn btn-secondary mr-3">
        Cancelar
      </button>
			<button type="submit" class="btn btn-primary ">
				Salvar Alterações
			</button>
		</div>
  </form>

</div>

{% endblock %}

{% block pageScript %}
	<script>
		dados = {
			url: "/ajax/select_city",
			"dados": "AC",
		}
		window.onload = ajaxConection(dados);

		$(".js-select-city").change(function () {
			dados = {
				url: "/ajax/select_city",
				"dados": $(this).val(),
			}
			ajaxConection(dados)
		});

	</script>
{% endblock %}