*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: blue;
    /* Alterar isso */
}

ul{
    list-style: none;
    display: inline;
}

ul li{
    display: inline;
    margin-right: 10px;
}

ul li a{
    text-decoration: none;
    color: orangered;
}

.navbar{
    background-color: darkslategray;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
} 

#esquerda{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* border: blueviolet solid 3px; */
}

#direita{
    display: flex;
    align-items: center;
    /* border: red solid 3px; */
}
