@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--cor1);
}

:root{
    --cor1: #000000;
    --cor2: darkslategrey;
    --cor3: lightslategrey;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.alwaysthere{
    position: sticky;
    height: 80px;
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    top: 20px;
}

#cobreatela{
    background-color: var(--cor1);
    display: none;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    top: 0px;
    
    ul{
        
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60vh;
        padding-left: 15vw;
        
        li{
            display: inline;
            margin-right: 10px;
            color: darkslategrey;

            img{
                width: 30px;
            }
        }

        a{
            text-decoration: none;
            color: darkslategrey;
            font-size: 40px;
        }

        a:hover{
            text-decoration: underline;
            color: var(--cor3);
        }
    }
}

#usuario{
    color: var(--cor2);
    font-size: 40px;
}

body{
    background-color: var(--cor2);
    display: flex;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor2);

    h1{
        font-size: 40px;
    }
}

/* LISTAS */

input,select,textarea{
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.3rem;
    background-color: var(--cor3);
    color: var(--cor2);
}

svg{
    transition: .17s;
    border-radius: 50%;
}

svg:hover{
 background-color: rgb(218, 218, 218); 
}

.pesquisa{
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.procurar{
  text-align: right;
  margin: 0 20px;
}

.filtrar{
  text-align: right;
  margin: 0;
  margin-right: 20px;
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
}

.filtrar span{
  font-size: 14px;
}
