*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: blue;
    /* Alterar isso */
}

ul{
    list-style: none;
    display: inline;
}

ul li{
    display: inline;
    margin-right: 10px;
}

ul li a{
    text-decoration: none;
    color: orangered;
}

.navbar{
    background-color: darkslategray;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
} 

#esquerda{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* border: blueviolet solid 3px; */
}

#direita{
    display: flex;
    align-items: center;
    /* border: red solid 3px; */
}

/* LISTAS */

input,select,textarea{
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ced4da;
    padding: 0.3rem;
    background-color: #FFF;
}

svg{
    transition: .17s;
    border-radius: 50%;
}

svg:hover{
 background-color: rgb(218, 218, 218); 
}

.procurar{
  text-align: right;
  margin: 0 20px;
}

.filtrar{
  text-align: right;
  margin: 0;
  margin-right: 20px;
}

.filtrar span{
  font-size: 14px;
}