main{
    display: flex;
}

.coluna{
    width: 30vw;
    margin: 1.6vw;
}

/* .coluna .ol{
    padding: 3vh;
}

.coluna .ol .li{
    margin: 2vh;
    background: linear-gradient(white, lightgray);
    border: 2px lightblue solid;
    border-radius: 2vh;
} */