.colunas{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.aba{
  margin-top: 20px;
  padding: 0 10px;
}

.aba textarea{
  display: block;
}

.aba h2{
  margin-bottom: 20px;
}

.email{
  margin-bottom: 5px;
}