.abas{
    width: 100%;
    height: 30px;
    padding: 3px;
    border: blueviolet solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.abas div{
    border-radius: 5px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 95, 255, 0.7);
}

.abas div:hover{
    background-color: rgba(37, 95, 255, 1);
}
.invisivel{
    display: none;
}

.colunas{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 10px 20px;
}
.fretes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 2fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.colunas h3{
    margin-bottom: 20px;
}

.pessoal h3{
    display: inline;
}

.pessoal{
    margin-bottom: 20px;
}
.pesquisa{
    margin: 0 20px;
}