{% load static %} {% for caminhao in caminhoes %}
<div class="col-sm-6 px-0 caminhoes" id="caminhaoId{{caminhao.id}}">
  <div class="card m-3">
    <div class="card-header">
      <div class="row">
        <span class="col d-flex align-items-center"> {{caminhao.nome}} </span>
        <span class="m-1">
          <button class="btn btn-primary" onclick="updateCaminhao({{caminhao}});">
            <img src="{% static 'img/svg/pencil-white.svg'%}" alt="Edit" widht="20px" height="20px" />
          </button>
        </span>
        <span class="m-1">
          <button class="btn btn-danger btn-delete" onclick="alertDel({{caminhao.id}}, 'caminhao');">
            <img src="{% static 'img/svg/del.svg'%}" alt="Del" widht="20px" height="20px" />
          </button>
        </span>
      </div>
    </div>
    <div class="card-body ">
      <div class="row align-items-center d-flex">
        <div class="col-md-4 text-center">
          <img class="img-fluid" src="https://i.ibb.co/zG6NMcN/cavalo-de-troia.gif"
            alt="Tenho Quase Certeza que isso é completamente desnecessário" />
          <!-- <img class="img-thumbnail" src="{{caminhao.logo}}"
            alt="Tenho Quase Certeza que isso é completamente desnecessário"> -->
        </div>
        <div class="col-md-8 ">
          <ul class="card-text list-group-flush m-0" id="caminhaoAtributos">
            <li class="list-group-item p-0">
              Número: {{caminhao.id}}
            </li>
            <li class="list-group-item p-0">
              Nome: {{caminhao.nome}}
            </li>
            <li class="list-group-item p-0">
              Eixos: {{caminhao.eixos}}
            </li>
            <li class="list-group-item p-0">
              Marca: {{caminhao.marca}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}