{% load static %}

{% for caminhao in caminhoes %}
<div class="col-lg-6 col-md-12 px-0" id="caminhaoId{{caminhao.id}}">
  <div class="card m-3">
    <div class="card-header">
      <div class="row">
        <span class="col d-flex align-items-center">
          {{caminhao.nome}}
        </span>
        <span class="m-1">
          <button class="btn btn-info btn-edit" onclick="updateCaminhao({{caminhao}});">
            <img src="{% static 'img/svg/pencil.svg'%}" alt="Edit" widht="20px" height="20px">
          </button>
        </span>
        <span class="m-1">
          <button class="btn btn-danger btn-delete" onclick="alertDel({{caminhao.id}}, 'caminhao');">
            <img src="{% static 'img/svg/del.svg'%}" alt="Del" widht="20px" height="20px">
          </button>
        </span>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-5 text-center">
          <img class="img-thumbnail" src="{{caminhao.logo}}"
            alt="Tenho Quase Certeza que isso é completamente desnecessário">
        </div>
        <div class="col-md-7">
          <p class="card-text m-0">
            {{caminhao}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}