@import './variaveis.scss';

@import "./card.scss";
@import "./btn.scss";
@import './tabs.scss';
@import './dropdown.scss';


// aplicações
* {
  color: black;
}

body {
  background-color: $bg-default !important;
}

// background-color: rgb(0, 13, 65) !important;
.navbar {
  background: $bg-dark !important;
}

.dropdown-menu {
  background-color: $bg-dark !important;
}

.form-control {
  background-color: $bg-default !important;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.hr {
  background-color: $separator-light !important;
  color: $separator-light !important;
}

.modal-content {
  background-color: $bg-default !important;
}

.alert-dark {
  background-color: $bg-dark !important;
  color: #FFFFFF !important;

  .alert-link {
    color: $link !important;
  }
}