@import "./variaveis.scss";

.btn-edit {
  img {
    background-color: #17a2b8 !important;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s !important;
  }

  &:hover {
    img {
      background-color: #138496 !important;
      transition-duration: 0.15s, 0.15s, 0.15s, 0.15s !important;
    }
  }
}

.btn-delete {
  background-color: #ed263a !important;

}


.btn-primary {
  background-color: $bg-active !important;
  border: solid $bg-active-borders 1px !important;

  &:hover {
    background-color: $bg-dark !important;
    border: solid $bg-active 1px !important;
  }

  &:focus {
    background-color: $bg-dark !important;
    border: solid $bg-active 1px !important;
  }
}

.btn-outline-primary {
  background-color: $bg-default !important;
  color: $bg-active !important;
  border: solid $bg-active-borders 1px !important;

  &:hover {
    background-color: $bg-dark !important;
    border: solid $bg-active 1px !important;
    color: #FFFFFF !important;
  }

  &:focus {
    background-color: $bg-dark !important;
    border: solid $bg-active 1px !important;
    color: #FFFFFF !important;
  }
}