@import "./variaveis.scss";

.dropdown-menu {
  background-color: $bg-dark !important;
}

.dropdown-item {
  &:hover {
    background-color: $bg-dark !important;
  }

  &:focus {
    background-color: $bg-dark !important;
  }
}