<div class="card-body">
  <h5 class="card-title">Filtros: </h5>
  <div class="form-row p-0 m-0">
    <select class="form-control col-md m-1">
      <option value="csc">Estado</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">Cidade</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">Caminhoneiro/Empresa</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">Tipo de Carreta</option>
    </select>
  </div>
  <h5 class="card-title">Ordenar: </h5>
  <div class="form-row p-0 m-0">
    <select class="form-control col-md m-1">
      <option value="csc">Ratign</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">N° Funcionários</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">Ordem Alfabética</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">N° Filias</option>
    </select>
  </div>
</div>