<div class="card-body">
  <h5 class="card-title">Filtros: </h5>
  <div class="form-row p-0 m-0">
    <select class="form-control col-md m-1">
      <option value="csc">Estado</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">Cidade Destino</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">Cidade Origem</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">Tipo de Carga</option>
    </select>
  </div>
  <h5 class="card-title">Ordenar: </h5>
  <div class="form-row p-0 m-0">
    <select class="form-control col-md m-1">
      <option value="csc">Valor</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">Prazo</option>
    </select>
    <select class="form-control col-md m-1">
      <option value="csc">Data de carregamento</option>
    </select>
  </div>
</div>