<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'cavalo_vapor/css/base_layout.css' %}">
  {% block style %}{% endblock%}
  <title>{% block title %}Cavalo-Vapor Fretes{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{% static 'cavalo_vapor/img/cavalo_vapor.ico' %}">
</head>

<body>
  <nav class="navbar">
    <div id="esquerda">
      <img src="{% static 'cavalo_vapor/img/logo.png' %}" alt="Logo" width="100px" height="50px">
      <h1>Cavalo-Vapor Fretes</h1>
    </div>
    <div id="direita">
      <ul>
        {% block menu %}
        <li><a href="../">Home</a></li>
        <li><a href="chat">Chat</a></li>
        <li><a href="fretes">Fretes</a></li>
        <!-- <li><a href="frete_individual">Fretes</a></li> -->
        <li><a href="perfis">Perfis</a></li>
        <li><a href="{{ perfil_individual.get_absolute_url }}">Perfil individual</a></li>
        <li><a href="suporte">Suporte</a></li>
        <li><a href="cadastro">Cadastro</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="">Logout</a></li>
        <!-- <li><a href="perfil_individual">Seu Perfil</a></li> -->
        {% endblock %}
      </ul>
    </div>
  </nav>
  {% block conteudo %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>

</html>