<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'cavalo_vapor/css/base_layout.css' %}">
  {% block style %}{% endblock%}
  <title>{% block title %}Cavalo-Vapor Fretes{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{% static 'cavalo_vapor/img/cavalo_vapor.ico' %}">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
  <nav id="cobreatela">
    <div class="titulo">
      <img src="{% static 'cavalo_vapor/img/logo.png' %}" alt="Logo" width="324px" height="180px">
      <h1>Cavalo-Vapor Fretes</h1>
    </div>
    <ul>
      {% block menu %}
      <li id='usuario'>Olá, {{user.username}} !!!</li>
      <li><img src="{% static 'cavalo_vapor/img/home.png' %}" alt="home"><a href=" ../">
          Home</a></li>
      <li><img src="{% static 'cavalo_vapor/img/frete.png' %}" alt="frete"><a href=" ../fretes"> Fretes</a>
      </li>
      <!-- <li><img src="{% static 'cavalo_vapor/img/frete.png' %}" alt="fretes" ><a href="frete_individual">Fretes</a></li> -->
      <li><img src="{% static 'cavalo_vapor/img/login.png' %}" alt="perfis"><a href=" ../perfis"> Perfis</a>
      </li>
      <li><img src="{% static 'cavalo_vapor/img/suporte.png' %}" alt="suporte"><a href=" ../suporte">
          Suporte</a></li>
      <li><img src="{% static 'cavalo_vapor/img/login.png' %}" alt="login"><a href=" ../login">
          Login</a>
      </li>
      <li><img src="{% static 'cavalo_vapor/img/register.png' %}" alt="cadastro"><a href=" ../cadastro">
          Cadastro</a></li>


      {% if user.is_authenticated or user.is_staff %}
      <li><img src="{% static 'cavalo_vapor/img/chat.png' %}" alt="chat"><a href="../chat">
          Chat</a></li>
      {% comment %} <li><a href="">Perfil individual</a></li> {% endcomment %}
      <li><img src="{% static 'cavalo_vapor/img/login.png' %}" alt="perfil individual" idth="11%"><a
          href=" {% url 'perfil_individual' %}"> Seu
          Perfil</a></li>
      <li><img src="{% static 'cavalo_vapor/img/logout.png' %}" alt="logout"><a href=" ../logout">
          Logout</a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </nav>

  <script>
    var modo = 1
    function showMenu() {
      if (modo == 1) {
        document.getElementById('cobreatela').style.display = 'flex';
        modo--
      } else {
        document.getElementById('cobreatela').style.display = 'none';
        modo++
      }
    }

    function cor() {
      document.querySelector(':root').style.setProperty('--cor1', document.getElementById("cor1").value);
      document.querySelector(':root').style.setProperty('--cor2', document.getElementById("cor2").value);
    }

  </script>
  <button onclick="showMenu()" class="alwaysthere"> <i class='fas fa-bars' style='font-size:36px'></i> </button>
  <button class="alwaysthere" onclick="cor()"> 
    <input id="cor1" type="color" value="#000000"></input>
    <input id="cor2" type="color" value="#223355"></input>
  </button>
  {% if messages %} {% for message in messages %}
  <div>{{message}}</div>
  {% endfor %}
  {% endif %}
  <main>
    {% block conteudo %}{% endblock %}
    {% block scripts %}{% endblock %}
  </main>
</body>

</html>