{% extends "cavalo_vapor/base_layout.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cavalo_vapor/css/login_cadastro.css' %}">
{% endblock %}
{% block script %}{% endblock %}
{% block title %} Cavalo-Vapor Fretes | Cadastro {% endblock %}
{% block conteudo %}

<div class="conteudo">
  <span>
    <h1>Cadastrar</h1>
  </span>
  <div class="formulario">
    <form method="POST" action=""> {% csrf_token %}
      {{ user.as_p }}
      {{ email.as_p }}
      <!-- <label for="login">Login: </label>
      <input type="text" name="login" id="login" placeholder="Digite seu login." required>

      <label for="senha">Senha: </label>
      <input type="password" name="senha" id="senha" placeholder="Digite sua senha." required>

      <label for="senha_confirm">Confirme sua senha: </label>
      <input type="password" name="senha_confirm" id="senha_confirm" placeholder="Confirme sua senha." required>

      <label for="nome">Nome: </label>
      <input type="text" name="nome" id="nome" placeholder="Digite seu nome." required>

      <label for="email">Email: </label>
      <input type="email" name="email" id="email" placeholder="Ex: exemplo@exemplo.com" required>

      <label for="cpf_cnpj">CPF ou CNPJ: </label>
      <input type="text" name="cpf_cnpj" id="cpf_cnpj" placeholder="Ex: 123.456.789-10 / 12.345.678/1234-56" required>


      <label for="estado">Estado: </label>
      <select name="estado" id="estado" required>
        <option value="">Selecione um estado</option>
        <option value="0">...</option>
      </select>

      <br>

      <label for="municipio">Município: </label>
      <select name="municipio" id="municipio" required>
        <option value="">Selecione uma cidade</option>
        <option value="0">...</option>
      </select>

      <label for="bairro">Bairro: </label>
      <input type="text" name="bairro" id="bairro" placeholder="Digite seu bairro." required>

      <label for="rua">Rua: </label>
      <input type="text" name="rua" id="rua" placeholder="Digite sua rua." required>

      <label for="numero">Número: </label>
      <input type="number" name="numero" id="numero" placeholder="Digite o número da localidade" required>

      <label for="complemento">Complemento: </label>
      <input type="text" name="complemento" id="complemento" placeholder="Ex: Casa 2" required> -->

      <div>
        <button type="submit" value="salvar">Cadastrar</button>
      </div>
    </form>
  </div>
  <span>Já está cadastrado? <a href="login">Faça login aqui!</a></span>
</div>

{% endblock %}