{% extends "cavalo_vapor/base_layout.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cavalo_vapor/css/chat.css' %}">
{% endblock %}
{% block script %}{% endblock %}
{% block title %} Cavalo-Vapor Fretes | Chat {% endblock %}
{% block conteudo %}
<main>
  <div class="">
    <h2>Salas</h2>
    <div class="">
      <input type="text" name="pesquisa" id="pesquisa_chats1" placeholder="Buscar Chats" />
      <span>
        <svg focusable="false" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
          </path>
        </svg>
      </span>
    </div>
    <section class=''>
      <input type="checkbox" name="convite" id="convite">Incluir salas por convite
    </section>
    <section class=''>
      <span>Ordenar por:</span>
      <select name="ordenar_por" id="ordenar_por">
        <option value="quant">Quantidade de participantes</option>
        <option value="alfa">Ordem Alfabética</option>
        <option value="data">Data de criação</option>
      </select>
    </section>
    <div class="ol">
      <div class="li">
        chat1
      </div>
    </div>
  </div>
  <div class="">
    <h2>Chats que participo</h2>
    <div class="">
      <input type="text" name="pesquisa" id="pesquisa_chats2" placeholder="Buscar Chats" />
      <span>
        <svg focusable="false" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
          </path>
        </svg>
      </span>
    </div>
    <section class=''>
      <span>Ordenar por:</span>
      <select name="ordenar_por" id="ordenar_por">
        <option value="quant">Quantidade de participantes</option>
        <option value="alfa">Ordem Alfabética</option>
        <option value="data">Data de criação</option>
      </select>
    </section>
    <div class="ol">
      <!-- <div class="li">
        chat2 (cargo)
        <button>☰...</button>
        <div>(isso aparece quando clica-se no botão)
          <div>Sair</div>
          <div>Favoritar</div>
          <div>Detalhes</div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="">
    <h2>Duvidas frequantes</h2>
    <div class="">
      <input type="text" name="pesquisa" id="pesquisa_chats3" placeholder="Buscar Chats" />
      <span>
        <svg focusable="false" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
          </path>
        </svg>
      </span>
    </div>
    <section class=''>
      <input type="checkbox" name="convite" id="convite">Incluir salas por convite
    </section>
    <section class=''>
      <span>Ordenar por:</span>
      <select name="ordenar_por" id="ordenar_por">
        <option value="quant">Quantidade de votos</option>
        <option value="alfa">Ordem Alfabética</option>
      </select>
    </section>
    <div class="ol">
      <div class="li">
        chat3
      </div>
    </div>
  </div>
</main>
{% endblock %}