{% extends "cavalo_vapor/base_layout.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cavalo_vapor/css/chat_individual.css' %}">
{% endblock %}
{% block script %}{% endblock %}
{% block title %} Cavalo-Vapor Fretes | Chat {% endblock %}
{% block menu %}
<li><a href="../index">Home</a></li>
<li><a href="../chat">Chat</a></li>
<!-- <li><a href="chat_individual">Chat</a></li> -->
<li><a href="../fretes">Fretes</a></li>
<!-- <li><a href="frete_individual">Fretes</a></li> -->
<li><a href="../perfis">Perfis</a></li>
<li><a href="../suporte">Suporte</a></li>
<li><a href="../cadastro">Cadastro</a></li>
<li><a href="../login">Login</a></li>
<li><a href="">Logout</a></li>
<!-- <li><a href="perfil_individual">Seu Perfil</a></li> -->
{% endblock %}
{% block conteudo %}

<main class="colunas">
  <div class="aba">
    <h2>Integrantes</h2>
    <ul>
      <li>
        <h4>
          Perfil 1
        </h4>
        <div>
          Fel9.renan02@gmail.com
        </div>
        <div>
          Santa-Catarina
        </div>
        <div>
          São Francisco do Sul
        </div>
      </li>
      <li>
        <h4>
          Perfil 1
        </h4>
        <div>
          Fel9.renan02@gmail.com
        </div>
        <div>
          Santa-Catarina
        </div>
        <div>
          São Francisco do Sul
        </div>
      </li>
    </ul>
  </div>

  <div class="aba">
    <h2>Posts/mensagens</h2>
    <textarea name="" id="" cols="20" rows="2" placeholder="Digite uma mensagem"></textarea>
  </div>

  <div class="aba">
    <h2>Notificar membros</h2>
    <label for="">Título da notificação</label>
    <input type="text" placeholder="Título">
    <div class="email">
      <input type="checkbox">
      <label for="">Gerar e-mail</label>
    </div>
    <label for="">Mensagem</label>
    <textarea name="" id="" cols="20" rows="2" placeholder="Texto da notificação"></textarea>
  </div>

</main>
{% endblock %}