{% extends "cavalo_vapor/base_layout.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cavalo_vapor/css/fretes.css' %}">
{% endblock %}
{% block title %} Cavalo-Vapor Fretes | Fretes {% endblock %}
{% block conteudo %}

<h2>
  lembrar do "filtrar por" e "ordenar", Renan
</h2>
<button>Cadastrar</button>
<!--
prazo de carga, tempo de confirmação antes do fretes, tipo da carga, carga, Ao clicar em “mostrar mais” vai para a página frete em que:
dados do frete(acima) e opção de candidatar-se (empresa pode aceitar e remover candidatos).
			!! Observações !!
Na página de Fretes, deve haver observações do algoritmo a respeito da compatibilidade da carga do cliente com o caminhão e a carreta do candidato, bem como estimativas de custo.
Na página de Fretes, o algoritmo deve distribuir as cargas divisíveis pelas carretas dos candidatos aceitos
se a carga é divisível.
adicionar variável de tempo antes da carga que o candidato deve ser aceito, para ser um filtro de busca e se a carga é divisível.
Decidir multas nos termos de serviço.
BD: por tempo de confirmação antes do fretes como DATETIME e se a carga é divisível como BOOLEAN.
 -->


<div class="pesquisa">
  <section class='filtrar' style="border-bottom: 5px #224488 solid;">
    <button id="comlupa" onclick="showFiltros()">&#x2b07;</button>
    <input type="text" style="width: 55vw;" />
    <button id="comlupa">&#x1f50d;&#xfe0e;</button>
  </section>
  <section id="filtrar" class='filtrar'>
    <span>Filtrar por:</span>
    <select name="estado" id="estado_filtro">
      <option value="">Estado</option>
      <option value="AC">Acre</option>
      <option value="AM">Amapá</option>
    </select>
    <select name="cidade" id="cidade_filtro">
      <option value="">Cidade</option>
      <option value="araquari">Araquari</option>
      <option value="joinville">Joinville</option>
    </select>



    <select name="tipo de carga" id="">
      <option value="">Tipo de carga</option>
      <option value="">Metais</option>
      <option value="">Material de construção</option>
      <option value="">Não sei os termos corretos</option>
    </select>
    <select name="carga" id="">
      <option value="">Cargas</option>
      <option value="">O mesmo de cima?</option>
      <option value="">Ou diferente?</option>
      <option value="">E não são peso</option>
    </select>
    <select name="valor" id="">
      <option value="">Valor</option>
      <option value="">Valor 1</option>
      <option value="">Valor 2</option>
      <option value="">Valor 3</option>
    </select>
    <select name="tipos de reboque" id="">
      <option value="">Reboques</option>
      <option value="">Weliton...</option>
      <option value="">...preenche?</option>
    </select>
    <select name="peso" id="">
      <option value="">Peso</option>
      <option value="">Quantitativos</option>
      <option value="">Não serão</option>
      <option value="">Aplicados juntos</option>
    </select>
    <select name="prazo carga" id="">
      <option value="">Data da carga</option>
      <option value="">Data 1</option>
      <option value="">Data 2</option>
      <option value="">Data 3</option>
    </select>
    <select name="prazo descarga" id="">
      <option value="">Data da descarga</option>
      <option value="">Data 1</option>
      <option value="">Data 2</option>
      <option value="">Data 3</option>
    </select>
    <select name="distancia" id="">
      <option value="">Distancia</option>
      <option value="">Trajeto 1</option>
      <option value="">Trajeto 2</option>
      <option value="">Trajeto 3</option>
    </select>
    <select name="notificacao_previa" id="">
      <option value="">Notificação prévia</option>
      <option value="">Data 1</option>
      <option value="">Data 2</option>
      <option value="">Data 3</option>
    </select>


    <!-- name, id, value e for estão assim porque eu peguei da net -->
    <form action="">
      <input type="radio" id="male" name="gender" value="male">
      <label for="male">Carregamento</label>
      <input type="radio" id="female" name="gender" value="female">
      <label for="female">Entrega</label>
    </form>
  </section>


  <!-- <p>
      Ordenar: prazo, data de carregamento, distância, avaliação empresa tempo de confirmação antes do fretes.
    </p> -->

</div>
<section class="colunas">
  <div class="pessoal">
    <h3>
      Meus fretes
    </h3>
    <ul class="fretes">
      {% for frete in fretes %}
      <li>
        <h4>{{frete.descricao}}</h4>
        <div class="resumo collapsible">
          <div>{{frete.status}}</div>
          <div>{{frete.avaliacao_empresa}}</div>
        </div>
        <div class="mais">
          <div>{{frete.tipo_de_carga}}</div>
          <div>{{frete.data_hora_carga}}</div>
          <div>{{frete.carga}}</div>
          <div>{{frete.avaliacao_caminhoneiro}}</div>
          <div>{{frete.valor}}</div>
          <div>{{frete.tipo_reboque}}</div>
          <div>{{frete.status_fretes}}</div>
          <div>{{frete.data_hora_prazo}}</div>
          <div>{{frete.distancia}}</div>
          <div>{{frete.data_hora_descarga}}</div>
          <div>{{frete.descricao_status}}</div>
          <div>{{frete.peso_inicial}}</div>
          <div>{{frete.tempo_de_candidato}}</div>
        </div>
        <div>
          <svg focusable="false" width="16" height="16" viewBox="0 0 24 24" class="NMm5M">
            <path d="M12 16.41l-6.71-6.7 1.42-1.42 5.29 5.3 5.29-5.3 1.42 1.42z"></path>
          </svg>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="lookfor">
    <h3>
      Procurar fretes
    </h3>
    <ul class="fretes">
      {% for frete in fretes %}
      <li>
        <h4>{{frete.descricao}}</h4>
        <div class="resumo collapsible">
          <div>{{frete.status}}</div>
          <div>{{frete.avaliacao_empresa}}</div>
        </div>
        <div class="mais">
          <div>{{frete.tipo_de_carga}}</div>
          <div>{{frete.data_hora_carga}}</div>
          <div>{{frete.carga}}</div>
          <div>{{frete.avaliacao_caminhoneiro}}</div>
          <div>{{frete.valor}}</div>
          <div>{{frete.tipo_reboque}}</div>
          <div>{{frete.status_fretes}}</div>
          <div>{{frete.data_hora_prazo}}</div>
          <div>{{frete.distancia}}</div>
          <div>{{frete.data_hora_descarga}}</div>
          <div>{{frete.descricao_status}}</div>
          <div>{{frete.peso_inicial}}</div>
          <div>{{frete.tempo_de_candidato}}</div>
        </div>
        <div>
          <svg focusable="false" width="16" height="16" viewBox="0 0 24 24" class="NMm5M">
            <path d="M12 16.41l-6.71-6.7 1.42-1.42 5.29 5.3 5.29-5.3 1.42 1.42z"></path>
          </svg>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% block script %}
<script src="{% static 'cavalo_vapor/js/fretes.js' %}"></script>
{% endblock %}
{% endblock %}