{% extends "cavalo_vapor/base_layout.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cavalo_vapor/css/login_cadastro.css' %}">
{% endblock %}
{% block script %}{% endblock %}
{% block title %} Cavalo-Vapor Fretes | Login {% endblock %}
{% block conteudo %}

<div class="conteudo">
  <span>
    <h1>Login</h1>
  </span>
  <div class="formulario">
    <form method="POST" action="" class='formulario'>
      {% csrf_token %}
      {{form}}
      <div class="esqueceu_senha">
        <a href="">Esqueceu a senha?</a>
      </div>

      <div>
        <button type="submit">Logar</button>
      </div>
    </form>
  </div>
  <span>
    Não tem cadastro ainda? <a href="cadastro">Clique aqui!</a>
  </span>
</div>

{% endblock %}