{% extends "cavalo_vapor/base_layout.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cavalo_vapor/css/perfil_individual.css' %}">
{% endblock %}
{% block script %}{% endblock %}
{% block title %} Cavalo-Vapor Fretes | Seu perfil {% endblock %}
{% block conteudo %}
<center>
  <section>
    {% comment %}
    <img
      src="{{user.perfil.imagem.url}}"
      id="perfil_img"
      alt=""
      width="100px"
      height="100px"
      srcset=""
    />
    {% endcomment %}
    <div>
      <p>{{user.username}}</p>
      <p>{{user.email}}</p>
      <p>
        <img src="{{request.user.usuario.imagem.url}}" width="100px" alt="" />
      </p>
    </div>
  </section>

  <main>
    <form class="formulario" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %} {{perfilUpdate}} {{userUpdate}} 
      <button>Atualizar</button>
    </form>
  </main>

  <section>
    <h3>Dados</h3>
    <div>
      <div>Horas trabalhadas por dia: +24 horas!!!!</div>
      <div>Horas de descanso por dia: -7 horas!!!!</div>
      <div>
        Maior valor em carga: leite condensado para governo federal, 15 milhões!
      </div>
    </div>
  </section>

  <section>
    <h3>Histórico</h3>
    <div><input type="checkbox" checked="true" /> Leite Condessa</div>
    <div><input type="checkbox" checked="true" /> Carregamento A</div>
    <div><input type="checkbox" checked="false" /> Carregamento B</div>
  </section>
</center>
{% endblock %}
