{% extends "cavalo_vapor/base_layout.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cavalo_vapor/css/suporte.css' %}">
{% endblock %}
{% block script %}{% endblock %}
{% block title %} Cavalo-Vapor Fretes | Suporte {% endblock %}
{% block conteudo %}

<div class="conteudo">
  <div class="mtb10 info">
    <h1>Seja bem-vindo ao suporte da Cavalo-Vapor!</h1>
  </div>

  <div class="info">
    <p>
      Estamos sempre atentos a novas dúvidas e sugestões vindo dos usuários de nossa plataforma.
      É sempre gratificante atendê-los.
    </p>
    <p>
      Por esta página você encontra perguntas frequentes e respostas a elas.
      Conte também com a possibilidade de entrar em contato conosco.
    </p>
  </div>

  <section>
    <h2>Perguntas frequentes</h2>
    <ul class="lista">
      <li class="itens">
        <!-- é claro, no documento é dito um link, podemos mudar, apenas coloquei infos como um lorem -->
        <p>
          Após o cadastro, há como adicionar mais informações no meu perfil? <br>
          <strong>R - </strong>
          Na sua página de perfil, encontrará a opção editar perfil...
        </p>
      </li>
      <li class="itens">Pergunta 2</li>
      <li class="itens">Pergunta 3</li>
      <li class="itens">Pergunta 4</li>
      <li class="itens">Pergunta 5</li>
      <li class="itens">Pergunta 6</li>
      <li class="itens">Pergunta 7</li>
    </ul>
  </section>

  <section class="formulario">
    <div class="info">
      <h2>Não encontrou o que desejava?</h2>
      <p class="mtb10">
        Fique a vontade para entrar em contato conosco, preenchendo os campos abaixo.<br>
        Seu feedback é sempre importante.
      </p>
    </div>

    <form class="insert" method="POST" action="">
      <!-- style="display: flex; flex-direction: column;" -->
      <label for="assunto_digitavel">Qual o conteúdo da mensagem: </label>
      <select name="Assunto" id="assunto_suporte">Assunto
        <option value="csc">Crítica/Sugestão/Comentário</option>
        <option value="bug">Relatar um bug</option>
        <option value="fin">Falar com o setor financeiro</option>
        <option value="dig">Outro</option>
      </select>

      <input type="text" name="assunto_digitavel" id="assunto_digitavel" placeholder="Qual?" required>

      <label for="email">Email: </label>
      <input type="email" name="email" id="email" placeholder="Ex: exemplo@exemplo.com" required>

      <label for="mensagem">Mensagem: </label>
      <textarea name="mensagem" id="mensagem" placeholder="Digite sua mensagem" cols="30" rows="10" required></textarea>
      <div>
        <button type="submit">Enviar</button>
      </div>
      <span>
        Nossa Equipe lhe dará uma resposta até o ano que vem!!
      </span>
    </form>
  </section>
</div>

{% endblock %}