* {
  color: black;
}

body{
  padding-right: 0px!important;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.hr {
  background-color: #DEE2E6 !important;
  color: #DEE2E6 !important;
}

.row{
  padding: 0 !important;
  margin: 0 !important;
}
